.food-btn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.exercise-choice{
    background-color: rgb(185, 182, 182);
    /* border-style: solid; */
    border-radius: 5px;
    margin-top: 5px;
    display:flex;
    justify-content: center;
    width: 300px;
}

.x-center{
    display: flex;
    justify-content: center;
}

.some-margin {
    margin: 15px;
}

.lg-icon{
    font-size: 35px;
}